{% extends 'base.html.twig' %}

{% block title %}RankingAnime{% endblock %}

{% block body %}
    <h1>RankingAnime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ranking_anime.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ ranking_anime.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ranking_anime_index') }}">back to list</a>

    <a href="{{ path('app_ranking_anime_edit', {'id': ranking_anime.id}) }}">edit</a>

    {{ include('ranking_anime/_delete_form.html.twig') }}
{% endblock %}
